.THIS .headerBackground
{
	background-color: #5cc2f2;
}

.THIS .siteHeader
{
	color: #1d2fa9;
	font-size: 50px;
	font-weight:bold;
}

.THIS .headerButton
{
	background-color: #1d2fa9;
	color: #5cc2f2;
	font-weight: bold;
	border: 0px solid gray;
}

.THIS .headerColumnRight
{
	padding-top: 88px;
	display: flex;
    justify-content: right;
}

.THIS .headerButtonGroup
{
	
}

.THIS .headerColumnCenter
{
}