.THIS .modalClass
{
	width: 80%; 
	margin-left: auto; 
	margin-right: auto;
	margin-top: 100px;
}

.THIS .myClickBox
{
	cursor: pointer !important;
	color: white;
	font-weight: bold;
	border: 1px solid gray;
	
	background-color: #5cc2f2;
	
}

.THIS .primaryButton
{
	background-color: #1d2fa9;
	color: white;
	font-weight: bold;
	border: 0px solid gray;
}

.THIS .secondaryButton
{
	background-color: white;
	color: #1d2fa9;
	font-weight: bold;
	border: 1px solid gray;
}