.THIS span{
	font-size: 15px;
	background-color : white;
	color:#1d2fa9;
	font-weight: bold;
} 
.THIS{
	background-color:white;
}


.THIS .diagnoseBtn
{
	background-color: #1d2fa9;
	color: white;
	font-weight: bold;
	border: 0px solid gray;
}